*.so
*.debug
modules/contrib
experiment01/modules/contrib
experiment01/experiment01
experiment02/experiment02
./experiment01/mainpage/node_modules
./experiment01/mainpage/build
./experiment01/mainpage/package-lock.json
experiment01/bungkus/*
